<footer>
    <div class="upper-footer-c">
        <div class="feature-link-c">
            <p class="footer-heading-text">Know us</p>
            <ul class="footer-linklist">
                <li class="footer-listitem"><a href="/about">About us</a></li>
                <li class="footer-listitem"><a href="/career">Career</a></li>
                <li class="footer-listitem"><a href="/dealer-enquiry">Dealer Enquiry</a></li>
            </ul>
        </div>
        <div class="categories-c">
            <p class="footer-heading-text">Popular Categories</p>
            <ul class="footer-linklist">
                <li class="footer-listitem"><a href="/products">Locker and Safe</a></li>
                <li class="footer-listitem"><a href="/products">Office Storage</a></li>
                <li class="footer-listitem"><a href="/products">Office Chair</a></li>
                <li class="footer-listitem"><a href="/products">Office Table</a></li>
                <li class="footer-listitem"><a href="/products">Sofa</a></li>
                <li class="footer-listitem"><a href="/products">Currency Sorter</a></li>
            </ul>
        </div>
        <div class="help-c">
            <p class="footer-heading-text">Need Help?</p>
            <ul class="footer-linklist">
                <li class="footer-listitem"><a href="/contact">Contact us</a></li>
                <li class="footer-listitem"><a href="/contact#faq-section">FAQs</a></li>
                <li class="footer-listitem"><a href=""
                        onclick="window.open('https://www.google.com/maps/place/Great+Value+Trademart+(P)+Ltd./@24.5710227,73.728047,20.25z/data=!4m15!1m8!3m7!1s0x3967ef5c22bcb5f7:0x290171bba3f622fd!2sVidhya+Nagar,+Hiran+Magri,+Udaipur,+Rajasthan!3b1!8m2!3d24.5693601!4d73.7287228!16s%2Fg%2F11b8ygyj40!3m5!1s0x3967ef608ed40519:0x277bb9ff05b525e4!8m2!3d24.571137!4d73.7285708!16s%2Fg%2F11c1rf12t9?entry=ttu')"
                        target="_blank">Find on Googlemap <i class="fa-solid fa-square-arrow-up-right"></i></a></li>
            </ul>
        </div>
        <div class="address-c">
            <p class="footer-heading-text">Contact</p>
            <ul class="footer-linklist">
                <li class="footer-listitem">Great Value Trademart(P) Ltd.</li>
                <li class="footer-listitem">No 50, Vidhya Nagar, Sector 4, Udaipur, 313001</li>
                <li class="footer-listitem">info@greatvalue.com</li>
                <li class="footer-listitem">+91-9876543210</li>
            </ul>
            <div class="footer-media-c">
                <ul class="socialmedia-icon-list">
                    <li class="socialmedia-listitem">
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    </li>
                    <li class="socialmedia-listitem">
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    </li>
                    <li class="socialmedia-listitem">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="socialmedia-listitem">
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li class="socialmedia-listitem">
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                    </li>
                    <li class="socialmedia-listitem">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="lower-footer-c">
        <% const year=new Date().getFullYear() %>
            <p>Copyright &copy; <%= year %> Great Value Pvt Ltd, All Rights Reserved</p>
    </div>
</footer>
<script src="/jscript/header.js"></script>
</body>

</html>