<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="/styles/user.css" />
    <link rel="stylesheet" type="text/css" href="/styles/enquiry.css" />
    <link rel="stylesheet" type="text/css" href="/styles/about.css" />
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="/styles/career.css" />
    <link rel="stylesheet" type="text/css" href="/styles/contact.css" />
    <link rel="stylesheet" type="text/css" href="/styles/products.css" />
    <link rel="stylesheet" type="text/css" href="/styles/productshowcase.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7764cfd68.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Playfair+Display&display=swap"
        rel="stylesheet">
    <title>GreatValue: Office Essential Simplified</title>
</head>

<body>
    <header>
        <div class="upper-header-c">
            <div class="logo-c">
                <a id="brand-logo" href="/"><img src="/images/great-value-trademart.png" /></a>
                <p id="hemburder-menu">
                    <i  class="fa-solid fa-bars"></i>
                </p>
            </div>
            <div class="search-bar-c">
                <div class="search-box">
                    <form name="search-text" action="/search" method="post">
                        <input id="search-box" class="search-input" type="search" placeholder="Search.."
                            aria-label="Search through site content" name="search_input" required>
                        <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="upper-header-sub-c">
                <div class="header-sub1-c">
                    <p class="phone-number">Call our customer service at : <span>+91-9876543210</span></p>
                </div>
                <div class="header-sub2-c">
                    <div class="login-signin-c">
                        <a href="/user">
                            <i class="fa-regular fa-user"></i>
                        </a>
                        <a href="">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower-header-c">
            <div class="links-c">
                <ul class="header-list">
                    <li class="header-list-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="header-list-item">
                        <a href="/products">Products</a>
                    </li>
                    <li class="header-list-item">
                        <a href="/dealer-enquiry">Dealer Enquiry</a>
                    </li>
                    <li class="header-list-item">
                        <a href="/about">About us</a>
                    </li>
                    <li class="header-list-item">
                        <a href="/contact">Contact us</a>
                    </li>
                    <li class="header-list-item">
                        <a href="/career">Career</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mobile-navbar" class="mobile-nav-c">
            <ul class="mobile-nav-list">
                <li class="mobile-nav-listitem">
                    <a href="/">Home</a>
                </li>
                <li class="mobile-nav-listitem">
                    <a href="/products">Products</a>
                </li>
                <li class="mobile-nav-listitem">
                    <a href="/dealer-enquiry">Dealer Enquiry</a>
                </li>
                <li class="mobile-nav-listitem">
                    <a href="/about">About us</a>
                </li>
                <li class="mobile-nav-listitem">
                    <a href="/contact">Contact us</a>
                </li>
                <li class="mobile-nav-listitem">
                    <a href="/career">Career</a>
                </li>
            </ul>
        </div>
    </header>