<%- include("partials/header.ejs"); %>
    <section class="about-s">
        <div class="about-c">
            <div class="about-heading-c">
                <p class="about-heading">About GreatValue</p>
            </div>
            <div class="objective-c">
                <div>
                    <div class="slogan-c">
                        <p class="slogan">Company of <span>Expanding</span> Horizons</p>
                    </div>
                </div>
                <div class="objective-message-c">
                    <p class="objective-message">The year was 2011 when we 'Great value trademart pvt ltd were starting
                        and then onwards are successfully operating the business of manufacturing and trading a wide
                        assortment of office furniture, security systems, currency handling machines. We are partner of
                        the GODREJ, the leading company of security solution for safe lockers strong room door, vault
                        door, fire proof filing cabinet, fire resistant record cabinet, electronic safe etc, and also
                        partner of the G&D leading brand in note sorting machines. We are importer of furniture that
                        include's perforated three seater public /Airport chair, revolving chairs and others. We also
                        import Cash Counting, Fake note Detecting Machine from Different Countries</p>
                    <p class="objective-message">Keeping in mind the precise demands of clients, we supply a designer
                        collection of Office Furniture. These are designed as per latest market trend and using best
                        available technologies. These are very attractive in appearance and acclaimed for their designer
                        look and excellent finish. Offered range is made using only high-quality components. These
                        products are admired by the clients for their features like easy installation, light weight,
                        long life and maintenance free nature.</p>
                </div>
            </div>
            <div class="expertise-c">
                <p class="expertise-heading">Our expertise</p>
                <div class="expertise-body-s">
                    <div class="expertise-message-c">
                        <P class="expertise-message">To achieve a remarkable position in the market, we are assisted by
                            our DIRECTOR , 'Mr. VINAY MEHTA regularly. With the help of his continuous motivation, sharp
                            management skills, and customer-oriented business approach; we are growing day by day in the
                            market. Additionally, these products are well-reviewed sternly on a number of margins before
                            final delivery of the consignment. As well, these products are credited and acclaimed amid
                            our honoured patrons for excellence & rugged designs and has received us a fore</P>
                        <p class="expertise-message">We are Rajasthan based organisation and offer the finest quality
                            range of products to our clients at reasonable rates. Moreover, we also supply our products
                            within the predefined time frame. The provided products are developed using the industry
                            permitted raw material that is bought from reliable vendors of the industry. Moreover, after
                            developing, we also check these products on different industry parameters to ensure the
                            reliable performance and top performance.</p>
                    </div>
                    <img class="expertise-img" src="/images/title_1_image.jpg" alt="" />
                </div>
            </div>
            <div class="certificate-c">
                <div class="certificate-heading-c">
                    <p class="certificate-main-heading">Certificate and Recognitions</p>
                </div>
                <div class="certificate-card-c">
                    <img class="certificate-image" src="/images/title_2_image.jpeg" alt="ISO certificte" />
                    <div class="certificate-detail-c">
                        <p class="certificate-heading">ISO 14001: 2015</p>
                        <p class="certificate-content">ISO 14001 is the international standard that specifies
                            requirements for an effective environmental management system (EMS). It provides a framework that an
                            organization can follow, rather than establishing environmental performance requirements.
                            Part of the ISO 14000 family of standards on environmental management, ISO 14001 is a voluntary
                            standard that organizations can certify to. Integrating it with other management systems
                            standards, most commonly ISO 9001, can further assist in accomplishing organizational goals.
                            The International Organization for Standardization (ISO) defines an environmental management
                            system as “part of the management system used to manage environmental aspects, fulfill compliance
                            obligations, and address risks and opportunities.” The framework in the ISO 14001 standard
                            can be used within a plan-do-check-act (PDCA) approach to continuous improvement.</p>
                    </div>
                </div>
                <div class="certificate-card-c">
                    <img class="certificate-image" src="/images/title_3_image.jpeg" alt="ISO certificte" />
                    <div class="certificate-detail-c">
                        <p class="certificate-heading">ISO 9001-2015</p>
                        <p class="certificate-content">ISO 9001:2015 is a set of practices and requirements that can
                            help organizations of all sizes improve their quality management and create a quality
                            management system (QMS). ISO 9001:2015 is the latest revision of previous standards and
                            requirements that replaces previous versions, most notably ISO 9001:2008. ISO 9001: 2015
                            provides a framework for organizations that want to improve quality standards and provide
                            superior products and services for their customers. This framework also helps identify a
                            wide array of processes where consistency may be lacking and helps make those processes more
                            efficient.</p>
                    </div>
                </div>
                <div class="certificate-card-c">
                    <img class="certificate-image" src="/images/title_4_image.jpeg" alt="ISO certificte" />
                    <div class="certificate-detail-c">
                        <p class="certificate-heading">OHSAS 18001:2007 Certificate</p>
                        <p class="certificate-content">OHSAS 18001 was one of the International Standard for
                            Occupational Health and Safety Management Systems. It provided a framework for the effective management
                            of OH&S including all aspects of risk management and legal compliance, and it addressed
                            occupational health and safety rather than any specific product safety matters.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs"); %>