<%- include("partials/header.ejs"); %>
    <section class="career-page-s">
        <!-- <div class="career-page-slogan-c">
            <p class="career-page-slogan">Let's grow together..</p>
        </div> -->
        <div class="career-page-main-c">
            <div class="career-heading-c">
                <p class="career-heading">Job Openings</p>
            </div>
            <div class="jobposts-c">
                <div class="jobpost-c">
                    <table>
                        <tbody>
                            <tr class="trow">
                                <td class="td-name">Job title</td>
                                <td class="td-value">Field Sales Executive</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Experience</td>
                                <td class="td-value">2-4 Years</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Job Location</td>
                                <td class="td-value">Jaipur, Udaipur</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Salary</td>
                                <td class="td-value">10k-20K Per month (no bar for right candidate)</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Description</td>
                                <td class="td-value">Handle Our Exiting clients and develop new market for our Banking Products like safe Lockers of Godrej . Increase sales revenue by sale of our Furniture Counting Machine and other products.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="job-apply-btn-c">
                        <button class="job-apply-btn">Apply Now</button>
                    </div>
                </div>
                <div class="jobpost-c">
                    <table>
                        <tbody>
                            <tr class="trow">
                                <td class="td-name">Job title</td>
                                <td class="td-value">Field Sales Executive</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Experience</td>
                                <td class="td-value">2-4 Years</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Job Location</td>
                                <td class="td-value">Jaipur, Udaipur</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Salary</td>
                                <td class="td-value">10k-20K Per month (no bar for right candidate)</td>
                            </tr>
                            <tr class="trow">
                                <td class="td-name">Description</td>
                                <td class="td-value">Handle Our Exiting clients and develop new market for our Banking Products like safe Lockers of Godrej . Increase sales revenue by sale of our Furniture Counting Machine and other products.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="job-apply-btn-c">
                        <button class="job-apply-btn">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs"); %>