<%- include("partials/header.ejs"); %>

    <section class="contact-page-s">
        <div class="contact-page-c">
            <div class="contact-c">
                <div class="contact-heading-c">
                    <p class="contact-heading">Contact us</p>
                </div>
                <div class="contact-options-c">
                    <div class="option-card-c">
                        <p class="option-heading">Call Us</p>
                        <p class="option-text">For product, order related queries, and pretty much anything else, get in
                            touch with us at <a>+91 9876543210</a></p>
                    </div>
                    <div class="option-card-c">
                        <p class="option-heading">Email</p>
                        <p class="option-text">For product, order related queries, and pretty much anything else, write
                            to <a href="mailTo:info@greatvalue.com">info@greatvalue.com</a></p>
                    </div>
                    <div class="option-card-c">
                        <p class="option-heading">Bulk Orders</p>
                        <p class="option-text">If you are a property manager, an architect, builder, designer or any
                            business enterprise looking to buy in bulk for your hotel, office or any other property,
                            we'd love to help! Email us at <a href="bulk@greatvalue.comm">bulk@greatvalue.comm</a></p>
                    </div>
                    <div class="option-card-c">
                        <p class="option-heading">Find us on Map</p>
                        <p class="option-text">Get in touch at our coorporate office <a
                                onclick="window.open('https://www.google.com/maps/place/Great+Value+Trademart+(P)+Ltd./@24.5710227,73.728047,20.25z/data=!4m15!1m8!3m7!1s0x3967ef5c22bcb5f7:0x290171bba3f622fd!2sVidhya+Nagar,+Hiran+Magri,+Udaipur,+Rajasthan!3b1!8m2!3d24.5693601!4d73.7287228!16s%2Fg%2F11b8ygyj40!3m5!1s0x3967ef608ed40519:0x277bb9ff05b525e4!8m2!3d24.571137!4d73.7285708!16s%2Fg%2F11c1rf12t9?entry=ttu')"
                                target="_blank">Take me to Google map <i
                                    class="fa-solid fa-square-arrow-up-right"></i></a>
                        </p>
                    </div>
                    <div class="option-card-c">
                        <p class="option-heading">Connect With Us</p>
                        <p class="option-text">Find us on all major social media platform</p>
                        <div class="contact-footer-media-c">
                            <ul class="contact-socialmedia-icon-list">
                                <li class="contact-socialmedia-listitem">
                                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                                </li>
                                <li class="contact-socialmedia-listitem">
                                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                                </li>
                                <li class="contact-socialmedia-listitem">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li class="contact-socialmedia-listitem">
                                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                </li>
                                <li class="contact-socialmedia-listitem">
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                </li>
                                <li class="contact-socialmedia-listitem">
                                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="faq-section" class="faq-c">
                <div class="faq-heading-c">
                    <p class="faq-heading">FAQs</p>
                </div>
                <div class="faq-qna-s">
                    <div class="faq-qna-c">
                        <p id="faq-q-0" onclick="toggleResponce(this.id)" class="faq-q">What warranty does GreatValue have for its products?
                                <i id="up-arrow-0" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-0" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-0" class="faq-a hide">The warranty we offer differs from product to product, based on the materials used. Please refer the Warranty tab on individual product pages for warranty details.</p>
                    </div>
                    <div class="faq-qna-c">
                        <p id="faq-q-1" onclick="toggleResponce(this.id)" class="faq-q">What kind of exchange program do you have?
                                <i id="up-arrow-1" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-1" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-1" class="faq-a hide">Sorry, we currently don't accept any product exchange service requests</p>
                    </div>
                    <div class="faq-qna-c">
                        <p id="faq-q-2" onclick="toggleResponce(this.id)" class="faq-q">How safe is providing the personal information like address, contact details etc. to GreatValue?
                                <i id="up-arrow-2" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-2" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-2" class="faq-a hide">Your personal information is absolutely safe with us. We keep your information encrypted on our servers and never share it with any third party. Your personal information is only used to contact you regarding your order, to deliver your products and to send communication that you may have opted to receive.</p>
                    </div>
                    <div class="faq-qna-c">
                        <p id="faq-q-3" onclick="toggleResponce(this.id)" class="faq-q">Do you ship internationally?
                                <i id="up-arrow-3" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-3" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-3" class="faq-a hide">As of now, GreatValue doesn't ship items outside of India. However, GreatValue does allow you to make purchases for your loved ones in India from anywhere in the world.</p>
                    </div>
                    <div class="faq-qna-c">
                        <p id="faq-q-4" onclick="toggleResponce(this.id)" class="faq-q">What do I do if I get a damaged/ defective or incorrect product?
                                <i id="up-arrow-4" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-4" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-4" class="faq-a hide">For Damaged and Incomplete Products, the claims are to be highlighted during the time of delivery.</p>
                    </div>
                    <div class="faq-qna-c">
                        <p id="faq-q-5" onclick="toggleResponce(this.id)" class="faq-q">Instead of Refund for a product, can you send me a replacement or can I exchange the product?
                                <i id="up-arrow-5" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-5" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-5" class="faq-a hide">Replacements shall be offered basis availability.</p>
                    </div>
                    <div class="faq-qna-c">
                        <p id="faq-q-6" onclick="toggleResponce(this.id)" class="faq-q">Do I need to keep anything in mind while returning your product?
                                <i id="up-arrow-6" class="fa-solid fa-angle-up up-arrow"></i>
                                <i id="down-arrow-6" class="fa-solid fa-angle-down"></i>
                        </p>
                        <p id="faq-a-6" class="faq-a hide">The returned product should be in its original packaging, and in the same condition as you received the product. Please ensure that all tags, peripherals, warranty/ guarantee card, freebies and accessories including keys, straps and locks are intact.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs"); %>