<%- include("partials/header.ejs"); %>
    <section class="home-page-s">
        <div class="home-carousel-c">
            <div class="carousel-main-c">
                <div class="carousel-message-c">
                    <p class="carousel-main-message">Setting an office, never been so Easier</p>
                    <p class="carousel-sub-message">We cover all the things that an office need, select from a wide
                        variety of office products..</p>
                    <div class="carousel-btn-c">
                        <a href="/products"> <button class="carousel-btn product-link">Explore Products</button></a>
                        <a href="/dealer-enquiry" ><button class="carousel-btn contact-link">Get a Call back</button></a>
                    </div>
                </div>
                <div class="carousel-image-c"></div>
            </div>
        </div>
        <div class="offer-zone-c">
            <div class="offer-heading-c">
                <p class="offer-heading">Grab the greatest deal</p>
            </div>
            <div class="offer-tray-c">
                <div class="offer-tray">
                    <div class="offer-c 1">
                        <img class="offer" src="images/offer-2.avif" alt="offer-1" />
                        <!-- <p class="offer-message">Buy your office chair with an extra 30% OFF</p>
                        <img class="offer-img" src="images/office-chair.jpg" alt="office chair" /> -->
                    </div>
                    <div class="offer-c 2">
                        <img class="offer" src="images/offer-1.avif" alt="offer-1" />
                        <!-- <p class="offer-message">Enter in New Year while chilling on your luxurious sofa at Half price
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="product-showcase-c">
            <div class="showcase-c">
                <div class="showcase-display-c">
                    <div class="showcase-detail-c">
                        <p class="heading">Cash counting machine</p>
                        <p class="offer-tagline">Striking Deal!!!</p>
                        <p class="showcase-message">Ensures every note is counted and checked.</p>
                        <p class="offer-available">30% Instant discount</p>
                        <button class="showcase-redirect-btn">Buy Now</button>
                    </div>
                    <div class="showcase-image-c">
                        <img class="showcase-img" src="images/counting-machine-for-showcase.png" alt="Cash counting machine" />
                    </div>
                </div>
            </div>
        </div>
        <div class="product-showcase-c">
            <div class="showcase-c">
                <div class="showcase-display-c">
                    <div class="showcase-image-c">
                        <img class="showcase-img" src="images/locker-for-showcase.png" alt="Cash counting machine" />
                    </div>
                    <div class="showcase-detail-c">
                        <p class="heading">Lockers and Safe</p>
                        <p class="offer-tagline">Unmatched Security</p>
                        <p class="showcase-message">Fire proof, water resistance, digital panel</p>
                        <p class="offer-available">Best deal ever..</p>
                        <button class="showcase-redirect-btn">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-by-catagory-c">
            <div class="catagory-heading-c">
                <p class="catagory-headling">Shop by Catagory</p>
            </div>
            <div class="catagory-tray-c">
                <div class="catagory-card-c">
                    <img class="catagory-image" src="images/catagory-z.webp" alt="Office chair"/>
                    <div class="catagory-detail-c">
                        <p class="catagory-name">Office Chair</p>
                        <p class="catagory-description">Explore from a wide variety of office chair with lots of option and features..</p>
                        <a class="catagory-link" href="#">Explore all ></a>
                    </div>
                </div>
                <div class="catagory-card-c">
                    <img class="catagory-image" src="images/catagory-2.jpg" alt="Office chair"/>
                    <div class="catagory-detail-c">
                        <p class="catagory-name">Office table</p>
                        <p class="catagory-description">Explore from a wide variety of office table with lots of option and features..</p>
                        <a class="catagory-link" href="#">Explore all ></a>
                    </div>
                </div>
                <div class="catagory-card-c">
                    <img class="catagory-image" src="images/catagory-3.jpg" alt="Office chair"/>
                    <div class="catagory-detail-c">
                        <p class="catagory-name">Storage unit</p>
                        <p class="catagory-description">Explore from a wide variety of storage unit with lots of option and features..</p>
                        <a class="catagory-link" href="#">Explore all ></a>
                    </div>
                </div>
                <div class="catagory-card-c">
                    <img class="catagory-image" src="images/catagory-4.webp" alt="Office chair"/>
                    <div class="catagory-detail-c">
                        <p class="catagory-name">Sofa</p>
                        <p class="catagory-description">Explore from a wide variety of sofa with lots of option and features..</p>
                        <a class="catagory-link" href="#">Explore all ></a>
                    </div>
                </div>
                <div class="catagory-card-c">
                    <img class="catagory-image" src="images/catagory-5.jpg" alt="Office chair"/>
                    <div class="catagory-detail-c">
                        <p class="catagory-name">Locker and safe</p>
                        <p class="catagory-description">Explore from a wide variety of locker and safe with lots of option and features..</p>
                        <a class="catagory-link" href="#">Explore all ></a>
                    </div>
                </div>
                <div class="catagory-card-c">
                    <img class="catagory-image" src="images/catagory-6.jpg" alt="Office chair"/>
                    <div class="catagory-detail-c">
                        <p class="catagory-name">Currency handling machine</p>
                        <p class="catagory-description">Explore from a wide variety of curreny handling machine with lots of option and features..</p>
                        <a class="catagory-link" href="#">Explore all ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-brand-c">
            <div class="featured-brand-main-c">
                <div class="featured-brand-heading-c">
                    <p class="featured-brand-heading">Featured Brands</p>
                </div>
                <div class="brand-logo-c">
                    <div class="brand-logo-card-c">
                        <img class="featured-brand-logo" src="images/great-value-trademart.png" alt="Great Value" />
                    </div>
                    <div class="brand-logo-card-c">
                        <img class="featured-brand-logo" src="images/Godrej_Logo.svg.png" alt="Godrej" />
                    </div>
                    <div class="brand-logo-card-c">
                        <img class="featured-brand-logo" src="images/Giesecke_Devrient.logo_.jpg" alt="Giesecke_Devrient" />
                    </div>
                    <div class="brand-logo-card-c">
                        <img class="featured-brand-logo" src="images/matrix_logo.png" alt="Matrix" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs"); %>