<%- include("partials/header.ejs"); %>
<section class="account-access-gateway-c">
            <div class="signup-block">
                <div class="signup-heading-c">
                    <p class="signup-heading">Login</p>
                </div>
                <div class="signup-form-c">
                <form class="login-form" action="/login" method="post">
                    <div class="signup-input-c">
                        <label class="signup-label" for="login-id">Login id</label>
                        <input class="signup-input" type="text" id="login-id" name="username" placeholder="Enter your id" autocomplete="on"/>
                    </div>
                    <div class="signup-input-c">
                        <label class="signup-label" for="login-password">Password</label>
                        <input class="signup-input" type="password" id="login-password" name="password" placeholder="Enter your password" autocomplete="on"/>
                    </div>
                    <div class="signup-submit-btn-c">
                    <button id="login-form-submit-btn" class="signup-btn" type="submit">Login</button>
                </div>
                </form>
                <div class="login-link-c">
                    <p class="login-link">Don't have an account? <a class="signup-link"
                            href="/create-account">Register</a></p>
                    <a class="forgot-password-link" href="">Forgot Password?</a>
                </div>
            </div>
            </div>
</section>

   
<%- include("partials/footer.ejs"); %>