.product-c {
    margin: 1rem 0;
}

.panel-display-c {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    box-shadow: 2px 2px 8px gray;
    padding: 0.5rem;
    border-radius: 5px;
}

.m-product-filter-c {
    display: none;
}

.product-main-c {
    padding: 1rem;
    display: flex;
}

.product-filter-c {
    display: inline-block;
    min-width: 220px;
    padding: 1rem .5rem;
    margin-right: .2rem;
    box-shadow: 2px 2px 8px gray;
}

.filter-heading-c {
    display: flex;
    justify-content: space-between;
    margin: 0 .5rem;
    padding: .5rem 0 0;
}

.filter-heading {
    font-weight: 600;
}

.filter-reset {
    font-weight: 600;
    color: tomato;
    cursor: pointer;;
} 

.filter-sub-c {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid lightgray;
}

.filter-sub-heading-c {
    padding: .4rem 0;
    font-weight: 600;
}

.filter-option-holding-c {
    margin: .5rem;
}

.filter-option-c {
    padding: .3rem 0;
}

.min-filter-c {
    margin-bottom: .4rem;
}

.label-c {
    margin-bottom: .2rem;
}

.product-display-c {
    width: 100%;
}

.product-card-holding-c {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 20px;
}

.product-card-c {
    box-shadow: 2px 2px 8px gray;
    margin: .5rem;
    cursor: pointer;
}

.product-image-c {
    text-align: center;
}

.product-card-image {
    width: 100%;
    height: 250px;
}

.product-detail-c {
    margin: .5rem .3rem;
}

.product-name {
    font-weight: 600;
    line-height: 1.2;
    padding: .5rem 0;
}

.product-sp {
    display: inline-block;
    padding: .5rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.product-mrp {
    display: inline;
    font-size: .8rem;
}

.product-mrp span {
    text-decoration: line-through;
}

.product-mrp span {
    text-decoration: line-through;
}

.product-discount {
    display: inline;
    color: red;
    font-size: .8rem;
}

.product-quality {
    font-size: .7rem;
    padding: .5rem 0;
}

.m-product-filter-menu-c {
    display: none;
}

@media only screen and (max-width: 530px) {
    .panel-display-c {
        display: none;
    }
    .product-filter-c {
        display: none;
    }
    .m-product-filter-c {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid gray;
    }
    .filter-link-c {
        /* display: block;
        position: fixed;
        bottom: 0;
        width: 100%; */
        border-top: 1px solid gray;
        padding: 10px 5px;
        background-color: white;
    }
    .filter-link {
        text-align: center;
    }
    .filter-link-c:active, .sort-link-c:active {
        background-color: lightgray;
    }
    .m-product-filter-menu-c{
        /* display: none; */
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        border-top: 1px solid gray;
    }
    .m-product-filter-sub-upper-c{
        padding: .5rem 1rem;
        display: flex;
        height: 400px;
    }
    .m-product-filter-option-c {
        padding: .5rem 1rem;
        border-right: 1px solid lightgrey;
    }
    .m-product-filter-heading-c {
        border-bottom: 1px solid gray;
    }
    .m-product-filter-heading {
        font-weight: 600;
        padding: .4rem 0;
    }
    .m-product-filter-options-btn-c {
        padding: .5rem;
    }
    .m-product-filter-option-btn {
        padding: .5rem 0;
        border-bottom: 1px solid lightgrey;
        color: grey;
    }
    .m-product-filter-list-c{
        padding: 1rem;
    }
    .m-product-filter-list-display-c {
        padding: .5rem 0;
        display: none;
    }
    .m-product-filter-list-option-c {
        padding: .5rem 0;
        border-bottom: 1px solid lightgrey;
    }
    .price-input {
        margin: .5rem 1rem;
    }
    .input-radio {
        margin: .5rem 0;
    }
    .m-product-filter-sub-lower-c {
        border-top: 1px solid lightgrey;
        display: flex;
    }
    .m-product-filter-action-btn-c {
        padding: .4rem 0;
        width: 50%;
    }
    .m-product-filter-action-btn {
        text-align: center;
    }
    .m-product-filter-action-btn-c:active {
        background-color: lightgoldenrodyellow;
    }
}