/* signup page CSS */

.create-account-s {
    display: flex;
    justify-content: end;
    align-items: center;
}

.signup-block {
    box-shadow: 2px 2px 8px lightgrey;
    border-radius: 5px;
    margin: 3rem auto;
    padding: 2rem 1rem;
    width: 300px;
}

.signup-heading-c {
    padding: 1rem 0 .5rem;
    margin-bottom: 1rem;
}

.signup-msg-c {
    margin: 0 0 .5rem;
}

.signup-heading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.signup-form-c {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
}

.signup-input-c {
    display: flex;
    flex-direction: column;
    margin: .8rem 0;
}

.signup-label {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.signup-input {
    padding: .2rem;
}

.signup-submit-btn-c {
    margin: 1.5rem 0;
}

.signup-btn {
    width: 100%;
    background-color: #485559;
    border: none;
    border-radius: 3px;
    color: #ae9e99;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: .4rem 0;
    cursor: pointer;
}

.login-link-c {
    width: 100%;
    padding: .4rem 0;
    margin-top: 1rem;
}

.login-link {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.forgot-password-link {
    font-size: .8rem;
}

.active {
    background-color: #485559;
    color: #ae9e99;
}

.error-msg {
    color: red;
    border: 2px solid red;
    padding: 0 2px;
}

